body{
  background-color: #f4c9e1;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.container{
  text-align: center;
}

h1{
  color: #9c2164;
}

button{
  margin: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  height: 100px;
  width: 200px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.agree{
  background-color: rgb(127, 190, 33);
  color: white;
}

/* .dagree{
  background-color: #ad3175;
  color: white;
} */

button:hover{
  opacity: 0.8;
}

/* @media (max-width: 600px) {
  button {
    width: 100%;
    max-width: 250px;
  }
} */